html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    .container(style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-width: 100%; min-height: 100%")
      if token
        nav.navbar.navbar-light.bg-faded
          a.navbar-brand(href="/pledges?token=" + token) Pledges
          a.navbar-brand(href="/schools?token=" + token) Schools
      center
        block content
