extends base.pug
block content
  link(rel="stylesheet", href="table.css")
  h1 #{header}
  table.table.table-bordered.table-hover.table-responsive
    thead.thead
      tr
        each item in fields
          th= item.field
      tbody
        each item in data
          tr
            each val in item
              td= val
  a(href="/" + header.toLowerCase() + "/export/all?token=" + token).btn.btn-primary Export CSV
  block form
