extends data-sheet.pug
block form
  h3 Add School
  form(action="/schools", method="post")
    .form-group
      label(for="name") Name:
      input(id="name", name="name", placeholder="School name").form-control
      input(value=token, name="token", type="hidden").form-control
      input(id="id", name="id", type="hidden").form-control
    button.btn.btn-primary(type="submit") Enter

  script(src="editSchool.js")
